// colors
$color-header: #3495db;
$color-footer: #666;
$color-white: #fff;
$color-f1: #f1f1f1;
$color-grey: #eee;
$color-pink: #8e44ad;

$border-color: #adadad;
$input-color: #333;
$log-color: linear-gradient(120deg, #3498db, #8e44ad);
$button-color: linear-gradient(120deg, #3498db, #8e44ad, #3498db);

$tx-record: #515a6e;
$color-black: #000;
$tx-tag: #00ffff;
$bg-hover: #3495db;
$bg-img: linear-gradient(120deg, #3495db, #8e44ad, #3495db);
$bg-img1: linear-gradient(150deg, #8e44ad, #3495db, #8e44ad);
$bg-record: #6495ed;
$tx-record-hover: #3495db;
